.arrows {
	width: 60px;
  height: 36px;
  margin-top: 16px;
  path {
    stroke: $white;
    fill: transparent;
    stroke-width: 2px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
    .a1 {
      animation-delay:-3.5s;
      -webkit-animation-delay:-3.5s; /* Safari 和 Chrome */
    }
    
    .a2 {
      animation-delay:-1.75s;
      -webkit-animation-delay:-1.75s; /* Safari 和 Chrome */
    }
    
    .a3 {	
      animation-delay:0s;
      -webkit-animation-delay:0s; /* Safari 和 Chrome */
    }
  }
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}